#head li{
  display : inline;
  list-style: none;
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 75px;
  font-family: monospace;
  font-size: 120%;

}

#head {

  background-color: rgb(231, 95, 95);
    margin: auto;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
    height: 20px;
    list-style-type: none;
    text-align: center;
    padding: 5px 0 35px 0;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
}
a:link {color: black;}
a:visited {color: black;}
a:hover {color: red;}
a:active {color: blue;}
